<div
  class="flex flex-col md:flex-row items-center justify-between lg:px-6 lg:py-20"
>
  <!-- Sección de Texto -->
  <div class="w-full md:w-1/2 text-center md:text-left mb-12 md:mb-0">
    <h1 class="text-4xl font-bold mb-2 text-one">Gustavo Muñoz</h1>
    <h2 class="text-4xl font-bold mb-2 text-two">
      Desarrollador Web Fullstack MERN, MEAN
    </h2>
    <p class="mb-6 text-two">
      Soy un desarrollador web especializado en las tecnologías MERN (MongoDB,
      Express, React, Node.js) y MEAN (MongoDB, Express, Angular, Node.js), con
      una sólida experiencia en HTML, CSS, JavaScript, TypeScript, PHP, Sass,
      Less, Bootstrap, Java, .NET, Laravel, y WordPress. Además, tengo
      habilidades en bases de datos como MongoDB, MySQL, y SQL, utilizo
      herramientas como Bitbucket y Jira para la gestión de proyectos y control
      de versiones. Mi enfoque se centra en la creación de aplicaciones web
      modernas, escalables y eficientes, manteniendo siempre las mejores
      prácticas de desarrollo y un código limpio y mantenible.
    </p>
    <a
      (click)="modal = true"
      class="px-4 py-2 rounded border shadow text-one border-one cursor-pointer"
      >Contáctame</a
    >
  </div>
  <!-- Sección de Imagen -->
  <div class="w-full md:w-1/2 flex justify-center md:justify-end">
    <img
      src="./assets/img/FB_IMG_1618059924387.jpg"
      alt="Tu Foto"
      class="rounded-full w-48 h-48 object-cover shadow"
    />
  </div>
</div>
<app-modal *ngIf="modal" (closeModalEmit)="closeModal($event)"></app-modal>
