<footer id="contact" class="py-4 lg:px-32 bg-two">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <h3 class="text-xl font-bold">Información de contacto</h3>
      <p>Nombre: Gustavo Adolfo Muñoz Reyes</p>
      <p>Email: {{ "tavoxpau@gmail.com.com" }}</p>
      <p>Teléfono: +57 313 397 69 99</p>
    </div>
    <div>
      <ul class="flex space-x-4">
        <li>
          <a
            href="www.linkedin.com/in/gustavo-adolfo-muñoz-reyes-a277b587"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/gatroxm"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
        <li>
          <a
            href="https://drive.google.com/file/d/110hTe1QrYfCPfd6b6iID4ovRy861Q7Uq/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
            >Hoja de Vida</a
          >
        </li>
        <li>
          <a
            href="https://wa.me/+573133976999"
            target="_blank"
            rel="noopener noreferrer"
            >Whatsapp</a
          >
        </li>
        <!-- Agrega otros enlaces a tus redes sociales -->
      </ul>
    </div>
  </div>
</footer>
