<app-header></app-header>
<div class="wave-container bg-black">
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
</div>
<main class="pt-20 lg:px-32 relative z-40">
  <div class="container mx-auto y">
    <section
      id="presentacion"
      class="opacity-0 transition-opacity duration-1000"
    >
      <app-presentacion></app-presentacion>
    </section>
    <section
      id="habilidades"
      class="opacity-0 transition-opacity duration-1000"
    >
      <app-habilidades></app-habilidades>
    </section>
    <section id="github" class="opacity-0 transition-opacity duration-1000">
      <app-github></app-github>
    </section>
    <section id="cursos" class="opacity-0 transition-opacity duration-1000">
      <app-cursos></app-cursos>
    </section>
  </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
