<div
  id="contactModal"
  class="fixed inset-0 bg-one_pacity bg-opacity-50 flex items-center justify-center"
>
  <div
    class="bg-two_opacity rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full p-6"
  >
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-medium text-one">Contact Information</h3>
      <button class="text-one hover:text-two" (click)="closeModal()">
        <span class="sr-only">Close</span>
        &times;
      </button>
    </div>
    <div class="space-y-4">
      <div>
        <h4 class="text-sm font-semibold text-one">Name</h4>
        <p class="text-two">Gustavo Adolfo Muñoz Reyes</p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-one">Email</h4>
        <p class="text-two">
          <a
            href="mailto:tavoxpaulo@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            >{{ "tavoxpaulo@gmail.com" }}</a
          >
        </p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-one">Phone</h4>
        <p class="text-two">
          <a
            href="https://wa.me/+573133976999"
            target="_blank"
            rel="noopener noreferrer"
          >
            +57 313 397 6999</a
          >
        </p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-one">Repositorio GitHub</h4>
        <p class="text-two">
          <a
            href="https://github.com/gatroxm"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-one">Hoja de vida</h4>
        <p class="text-two">
          <a
            href="https://github.com/Gatroxm/Gatroxm.github.io/blob/main/src/assets/archivos/resume.pdf"
            target="_blank"
            rel="noopener noreferrer"
            >CV</a
          >
        </p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-one">Redes</h4>
        <p class="text-two">
          <a
            href="https://www.linkedin.com/in/gustavo-adolfo-mu%C3%B1oz-reyes-a277b587/"
            target="_blank"
            rel="noopener noreferrer"
            >Linkedin</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
